@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&display=swap");

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: hsl(240, 12%, 14%);
}

.md-header,
.md-tabs {
  color: inherit !important;
  background-color: var(--md-default-bg-color);
}

[data-md-color-scheme="slate"] .md-header,
[data-md-color-scheme="slate"] .md-tabs {
  background-color: var(--md-default-bg-color);
}

@media screen and (min-width: 76.25em) {
  [data-md-color-scheme="slate"] .md-tabs {
    border-bottom: 0.05rem solid rgba(255, 255, 255, 0.07);
  }
}

.md-grid {
  max-width: 48rem;
}

.pub-grid {
  display: flex;
  gap: 1.5rem;
  border-bottom: 0.05rem solid var(--md-default-fg-color--lightest);
  margin-bottom: 1rem;
}

.pub-grid > div {
  flex: 1;
}

.pub-img {
  width: 8rem;
  height: auto;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 600px) {
  .pub-img {
    display: none;
  }
  .pub-grid {
    display: block;
  }
}
